table {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#ranking td{
    /*margin-left: 2px;
    margin-right: 2px;
    display: inline-block;*/
    width: 60px;
}

#ranking tr{
    margin-top: 2px;
}
